#nav-search {
  display: flex;
  align-items: center;
  margin-top: $baseline;
  cursor: pointer;
  color: $nav-top-color;
  transition: color 0.2s ease;

  &:hover {
    color: $hover-links;
  }

  .search-text {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
  }
}

#search-ico {
  font-family: 'FabricMDL2Icons';
  font-size: $baseline;
  line-height: 1;
}

.search-container {
  display: none;

  &--is-visible {
    display: block;
    width: 100%;
  }

  #search {
    width: 100%;
    display: block;
    border:none;
    border-bottom: 1px solid $color;
    padding: $baseline 0;
    text-align: left;
    line-height: $baseline;
    font-size: $font-size;
    font-family:$font-family;
    color:$color;
    background:transparent;
    margin-bottom: $baseline;
  }

  #search:focus {
    outline:none;
  }

  .search-results {
    &__header {
      font-weight: bold;
      padding: 1rem 0rem;
    }

    &__items {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &__item {
      margin-bottom: 1.5rem;
      
      a {
        font-size: 1.25rem;
        font-weight: bold;
      }
    }

    &__teaser {
      margin-top: 0.5rem;
      color: rgba($color, 0.8);
      font-size: 0.95rem;
    }
  }
}