$baseline: 1.5rem;

$background:#090b07;
$color:#3c4e2d;
$nav-top-color: #DB784D;
$sub-nav-color: #F8BB39;

$links: #00f;
$hover-links:#c00;
$visited-links:$nav-top-color;

$font-size: 1.125rem;
$font-family: Segoe UI,system-ui,-apple-system,sans-serif;
$line-height: 1.75;
$code_font: 400 1.125rem/1.75 SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;

$quote-bg: #12160d;
$quote-color: #8996A8;
$quote-border: #4A410D 8px solid;

